{{> head }}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>This is a title</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/HG-logoPNG.png" class="img-thumbnail" alt="">
    </div>

</div>


{{> footer }}